.cont-gramas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15em;

    .div-titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.8em;
    }

    .div-calculo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 19em;
    }

    label {
        font-size: 1.2em;
    }

    .botao-calc {
        height: 2.5em;
        width: 8em;
        border-radius: 3em;
    }
    .div-botaoc {
        padding-top: 1.6em;
    }
}